<a href="https://colab.research.google.com/github/ZKisielewska/learning-git-task/blob/master/M_8_1_Pandas_Best_albums.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Load Pandas database of the best-selling albums of all time.**

1. Replace column headers with Polish equivalents: 
['TYTUŁ','ARTYSTA','ROK','MAX POZ']
2. How many individual artists are listed?
3. Which bands appear the most on the list?
4. Change the column headings so that each column starts with a capital letter and the others are entered in lower case.
5. Remove the 'Max Pos' column from the table.
6. Which year has the most albums on the list released?
7. How many albums released between 1960 and 1990 inclusive are on the list?
8. What year was the youngest album on the list released?
9. Prepare a list of the earliest released albums of each artist on the list.
10. Save the list to a csv file.

In [2]:
import pandas as pd

In [4]:
# load the best-selling albums to pandas
df = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)
df[0].head(3)

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1

In [5]:
# 1. Replace column headers with Polish equivalents: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
albums = df[0]
albums.rename(columns={'TITLE': 'TYTUŁ', 'ARTIST': 'ARTYSTA', 'YEAR': 'ROK', 'HIGH POSN': 'MAX POZ'}, inplace=True)
albums.head(3)

   POS                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1

In [ ]:
type(albums)

pandas.core.frame.DataFrame

In [6]:
# 2. How many individual artists are listed?
nartists = albums['ARTYSTA'].nunique()
print(f'Thera are {nartists} artists on the list.')

Thera are 47 artists on the list.

In [7]:
# 3. Which bands appear the most on the list?
most_common_bands = albums['ARTYSTA'].value_counts().head(3)
most_common_bands
print(f"The most apeared bands on the list are:\n{most_common_bands}.")

The most apeared bands on the list are:
COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
Name: ARTYSTA, dtype: int64.

In [8]:
# 4. Change the column headings so that each column starts with a capital letter and the others are entered in lower case.a
title_col = albums.columns.str.title()
print(title_col)

# the second option of the columns' name change is: albums.rename(str.title, axis='columns')

Index(['Pos', 'Tytuł', 'Artysta', 'Rok', 'Max Poz'], dtype='object')

In [ ]:
# 5. Remove the 'Max Pos' column from the table.
albums.drop('MAX POZ', axis=1, inplace=True)
print(albums.iloc[:3])

   POS                                 TYTUŁ  ARTYSTA   ROK
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967

In [ ]:
# 6. Which year has the most albums on the list released?

# list of releases in the year
year_release = albums["ROK"].value_counts()
# max releases in the year
top_year = year_release[year_release == max(year_release)]

print(f"The most albums on the list released in:\n{top_year}.")

The most albums on the list released in:
2000    4
1987    4
Name: ROK, dtype: int64.

In [ ]:
# 7. How many albums released between 1960 and 1990 inclusive are on the list?

# albums released between indicated years
nalbums = albums[(albums['ROK']>=1960) & (albums['ROK']<=1990)]
# sum of the released albums
total_nalbums = len(nalbums)
print(f"There are {total_nalbums} albums released between 1960 and 1990 inclusive.")

There are 22 albums released between 1960 and 1990 inclusive.

In [ ]:
# 8. What year was the youngest album on the list released?
# check: albums.sort_values(by="ROK", ascending=False)
last_year_album = albums['ROK'].max()
print(f"The {last_year_album} was the year of the youngest album.")

The 2015 was the year of the youngest album.

In [10]:
# 9. Prepare a list of the earliest released albums of each artist on the list.
earliest_albums = albums.groupby('ARTYSTA')['ROK'].min().reset_index()
earliest_albums.head(3)

             ARTYSTA   ROK
0               ABBA  1975
1              ADELE  2011
2  ALANIS MORISSETTE  1995

In [ ]:
# 10. Save the list to a csv file.
albums.to_csv('bestAlbums.csv', index=False)